Source: edupals-base-toolkit
Section: libs
Priority: optional
Maintainer: Enrique Medina Gremaldos <quique@necos.es>
Build-Depends: debhelper-compat (= 13), cmake, make, g++
Standards-Version: 4.6.0
Rules-Requires-Root: no
Homepage: https://github.com/edupals/edupals-base-toolkit

Package: libedupals-base2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: libedupals-base
Conflicts: libedupals-base
Replaces: libedupals-base
Description: Edupals C++ toolkit
 A C++ toolkit providing some features (network, parsing, json,...) without 
 using any third-party libs

Package: libedupals-base-dev
Architecture: any
Depends: ${misc:Depends}, libedupals-base2, cmake, make, g++
Description: Edupals C++ toolkit development files
 Development files (headers and cmakes) for Edupals base toolkit
